{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }
  @media screen and (min-width: 990px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
  assign overlapImages = false
  if section.settings.image != blank and section.settings.secondary_image != blank
    assign overlapImages = true
  endif
-%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <div class="image-with-text image-with-text--{{ section.settings.content_layout }} isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == section.settings.section_color_scheme and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="image-with-text__grid grid grid--1-col grid--2-col-tablet{% if section.settings.image_position_right %} image-with-text__grid--reverse{% endif %} {% if section.settings.inverter_cores %}gradient-invert color-{{ section.settings.color_scheme }}{% endif %}">
        <div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
          {% if overlapImages %} 
          <div class="media-overlap__images">
          {% endif %}
          {%- if section.settings.image != blank or section.settings.secondary_image != blank -%}
            {%- if section.settings.image != blank %}
              <div class="image-with-text__media image-with-text__media--{{ section.settings.height }} background-transparent media{% if section.settings.image_animation %} animate--ambient{% endif %}"
                {% if section.settings.height == 'original' %}
                  style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
                {% endif %}
              >
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
                {{
                  section.settings.image
                  | image_url: width: 1500
                  | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                }}
              </div>
            {% endif %}
            {%- if section.settings.secondary_image != blank %}
              <div class="image-with-text__media image-with-text__media--{{ section.settings.height }} gradient media{% if section.settings.image_animation %} animate--ambient{% endif %}"
                {% if section.settings.height == 'original' %}
                  style="padding-bottom: {{ 1 | divided_by: section.settings.secondary_image.aspect_ratio | times: 100 }}%; --secondary-media-height: {{ 1 | divided_by: section.settings.secondary_image.aspect_ratio | times: 50 }}%;"
                {% endif %}
              >
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
                {{
                  section.settings.secondary_image
                  | image_url: width: 1500
                  | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                }}
              </div>
            {% endif %}
          {% else %}
            <div class="image-with-text__media image-with-text__media--{{ section.settings.height }} global-media-settings gradient color-{{ section.settings.color_scheme }} image-with-text__media--placeholder placeholder{% if section.settings.image_animation %} animate--ambient{% endif %}">
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}
          {% if overlapImages %} 
          </div>
          {% endif %}
        </div>
        <div class="image-with-text__text-item grid__item">
          <div
            id="ImageWithText--{{ section.id }}"
            class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} content-container {% unless section.settings.inverter_cores %}gradient color-{{ section.settings.color_scheme }}{% endunless %}"
          >
            {%- for block in section.blocks -%}
              {% case block.type %}
                {%- when 'heading' -%}
                  {%- if block.settings.subheading != blank -%}
                    <div class="subheading__text rte">
                      <p>{{ block.settings.subheading }}</p>
                    </div>
                  {%- endif -%}
                  <h2
                    class="image-with-text__heading inline-richtext {{ block.settings.heading_size }}"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.heading }}
                  </h2>
                {%- when 'text' -%}
                  <div class="image-with-text__text rte" {{ block.shopify_attributes }}>
                    {{ block.settings.text }}
                  </div>
                {%- when 'button' -%}
                  {%- if block.settings.button_label != blank -%}
                    <a
                      {% if block.settings.button_link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link }}"
                      {% endif %}
                      class="button button--{{ block.settings.button_style }}"
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.button_label | escape }}
                    </a>
                  {%- endif -%}
                {% when 'promotion' %}
                <div class="app-promotion sp-small">
                  {% if block.settings.title != blank %}
                   <h3 
                      class="image-with-text__heading inline-richtext {{ block.settings.heading_size }}"
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.title }}
                    </h3>
                  {% endif %}
                  {% if block.settings.apple_store != blank or block.settings.google_store != blank %}
                    <div class="promote-links">
                      {% if block.settings.apple_store != blank %}
                        <a target="_blank" aria-label="Apple store" href="{{ block.settings.apple_store }}" class="app-promote-link">
                          {% render 'theme-icons', icon: 'apple-store' %}
                        </a>
                      {% endif %}
                      {% if block.settings.google_store != blank %}
                        <a target="_blank" aria-label="Google store" href="{{ block.settings.google_store }}" class="app-promote-link">
                          {% render 'theme-icons', icon: 'google-store' %}
                        </a>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.primary_image.label"
    },
    {
      "type": "image_picker",
      "id": "secondary_image",
      "label": "t:sections.image-with-text.settings.secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "image_position_right",
      "label": "t:sections.image-with-text.settings.image_position_right.label",
      "default": false
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "original",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        }
      ],
      "default": "original",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "inverter_cores",
      "label": "Inverter Cores",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "middle",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "checkbox",
      "id": "image_animation",
      "label": "t:sections.image-with-text.settings.image_animation.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.mobile_layout.label"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.content",
      "info": "t:sections.all.section_spacing.info"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.section_spacing.above",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.section_spacing.below",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "t:sections.image-with-text.blocks.heading.settings.subheading.label",
          "default":"t:sections.image-with-text.blocks.heading.settings.subheading.default"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-with-text.blocks.heading.settings.heading.default",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default":"t:sections.image-with-text.blocks.text.description.default",
          "label": "t:sections.all.description.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button_style.options__2.label"
            },
            {
              "value": "outline",
              "label": "t:sections.all.button_style.options__3.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.all.button_style.label"
        }
      ]
    },
    {
      "type": "promotion",
      "name": "t:sections.image-with-text.blocks.app_promote.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:sections.all.heading.label",
          "default":"t:sections.image-with-text.blocks.app_promote.settings.heading.default"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h6",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h6",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "url",
          "id": "apple_store",
          "label": "t:sections.image-with-text.blocks.app_promote.settings.apple_link.label"
        },
        {
          "type": "url",
          "id": "google_store",
          "label": "t:sections.image-with-text.blocks.app_promote.settings.google_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
