{{ 'customer.css' | asset_url | stylesheet_tag }}

<script src="{{ 'customer.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }

  @media screen and (min-width: 990px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- paginate customer.addresses by 5 -%}
  <div class="customer addresses section-{{ section.id }}-padding" data-customer-addresses>
    <div class="account_top_bar mgb-medium">
      <div class="left_side_box">
        <div class="section-heading__bar sp-small">
          <h1 class="title h2">
            {{ 'customer.account.title' | t }}
          </h1>
          <p>
            {{ 'customer.account.subtitle' | t }}
            {{ customer.name }}
          </p>
        </div>
      </div>
      <div class="right_side_box">
        <a href="{{ routes.account_logout_url }}" class="button button--outline logout_btns_customer warning__btn">
          {{ 'customer.log_out' | t }}
        </a>
      </div>
    </div>

    <div class="orde_section_main ">
      <div class="left_option_list">
        <div class="btn_list_order">
          <a href="{{ routes.account_url }}" class="button button--outline logout_btns_customer">
            {{- 'customer.account.account_overview' | t -}}
          </a>
          <a href="{{ routes.account_addresses_url }}" class="button logout_btns_customer customer_actives">
            {{- 'customer.account.view_addresses' | t -}}
          </a>
        </div>
      </div>
      <div class="right_order_list_option">
        <ul role="list" class="address_list_options">
          {% assign counter = 0 %}
          {%- for address in customer.addresses -%}
            <li data-address>
              <div class="address_list_customer">
                <div class="adress_full_data">
                  {%- if address == customer.default_address -%}
                    <h3 class="h5">{{ 'customer.addresses.default' | t }}</h3>
                  {% else %}
                    {% assign counter = counter | plus: 1 %}
                    <h3 class="h5">
                      {{ 'customer.account.addresses_text' | t }}
                      {{ counter }}
                    </h3>
                  {%- endif -%}
                  {{ address | format_address }}
                </div>
                <div class="address_action_btns">
                  <button
                    type="button"
                    id="EditFormButton_{{ address.id }}"
                    aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                    aria-controls="EditAddress_{{ address.id }}"
                    aria-expanded="false"
                    data-address-id="{{ address.id }}"
                    class="button button--outline"
                    onclick="addressbox()"
                  >
                    {{ 'customer.addresses.edit' | t }}
                  </button>
                  <button
                    type="button"
                    aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                    data-target="{{ address.url }}"
                    data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                    class="button button--outline warning__btn"
                  >
                    {{ 'customer.addresses.delete' | t }}
                  </button>
                </div>
              </div>

              <div id="EditAddress_{{ address.id }}" class="edit_address_box">
                <h2 class="h4">{{ 'customer.addresses.edit_address' | t }}</h2>
                {%- form 'customer_address', address -%}
                  <div class="field">
                    <input
                      type="text"
                      id="AddressFirstName_{{ form.id }}"
                      name="address[first_name]"
                      value="{{ form.first_name }}"
                      autocomplete="given-name"
                      placeholder="{{ 'customer.addresses.first_name' | t }}"
                    >
                    <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                  </div>
                  <div class="field">
                    <input
                      type="text"
                      id="AddressLastName_{{ form.id }}"
                      name="address[last_name]"
                      value="{{ form.last_name }}"
                      autocomplete="family-name"
                      placeholder="{{ 'customer.addresses.last_name' | t }}"
                    >
                    <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                  </div>
                  <div class="field">
                    <input
                      type="text"
                      id="AddressCompany_{{ form.id }}"
                      name="address[company]"
                      value="{{ form.company }}"
                      autocomplete="organization"
                      placeholder="{{ 'customer.addresses.company' | t }}"
                    >
                    <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                  </div>
                  <div class="field">
                    <input
                      type="text"
                      id="AddressAddress1_{{ form.id }}"
                      name="address[address1]"
                      value="{{ form.address1 }}"
                      autocomplete="address-line1"
                      placeholder="{{ 'customer.addresses.address1' | t }}"
                    >
                    <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                  </div>
                  <div class="field">
                    <input
                      type="text"
                      id="AddressAddress2_{{ form.id }}"
                      name="address[address2]"
                      value="{{ form.address2 }}"
                      autocomplete="address-line2"
                      placeholder="{{ 'customer.addresses.address2' | t }}"
                    >
                    <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                  </div>
                  <div class="field">
                    <input
                      type="text"
                      id="AddressCity_{{ form.id }}"
                      name="address[city]"
                      value="{{ form.city }}"
                      autocomplete="address-level2"
                      placeholder="{{ 'customer.addresses.city' | t }}"
                    >
                    <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                  </div>
                  <div class="select-option-field">
                    <label for="AddressCountry_{{ form.id }}">
                      {{ 'customer.addresses.country' | t }}
                    </label>
                    <div class="select">
                      <select
                        id="AddressCountry_{{ form.id }}"
                        name="address[country]"
                        data-address-country-select
                        data-default="{{ form.country }}"
                        data-form-id="{{ form.id }}"
                        autocomplete="country"
                      >
                        {{ all_country_option_tags }}
                      </select>
                      {% render 'theme-icons', icon: 'icon-chevron-down' %}
                    </div>
                  </div>
                  <div id="AddressProvinceContainer_{{ form.id }}" class="select-option-field" style="display:none;">
                    <label for="AddressProvince_{{ form.id }}">
                      {{ 'customer.addresses.province' | t }}
                    </label>
                    <div class="select">
                      <select
                        id="AddressProvince_{{ form.id }}"
                        name="address[province]"
                        data-default="{{ form.province }}"
                        autocomplete="address-level1"
                      ></select>
                     {% render 'theme-icons', icon: 'icon-chevron-down' %}
                    </div>
                  </div>
                  <div class="field">
                    <input
                      type="text"
                      id="AddressZip_{{ form.id }}"
                      name="address[zip]"
                      value="{{ form.zip }}"
                      autocapitalize="characters"
                      autocomplete="postal-code"
                      placeholder="{{ 'customer.addresses.zip' | t }}"
                    >
                    <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                  </div>
                  <div class="field">
                    <input
                      type="tel"
                      id="AddressPhone_{{ form.id }}"
                      name="address[phone]"
                      value="{{ form.phone }}"
                      autocomplete="tel"
                      placeholder="{{ 'customer.addresses.phone' | t }}"
                    >
                    <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                  </div>
                  <div class="default_address_bottom">
                    <div class="check_box_left">
                      <input type="checkbox" class="custom-checkbox" id="address_default_address_{{ address.id }}" name="address[default]" value="1">
                      <span class="checkbox-styling">
                        {% render 'theme-icons', icon: 'check' %}
                      </span>
                      <label for="address_default_address_{{ form.id }}">
                        {{ 'customer.addresses.set_default' | t }}
                      </label>
                    </div>
                    <div class="right_btn_bottom">
                      <button class="button--primary">{{ 'customer.addresses.update' | t }}</button>
                      <button class="button button--secondary" type="reset" onclick="cencelbox()">
                        {{ 'customer.addresses.cancel' | t }}
                      </button>
                    </div>
                  </div>
                {%- endform -%}
              </div>
            </li>
          {%- endfor -%}
        </ul>
        <div data-address class="new_add_address">
          <button
            type="button"
            aria-expanded="false"
            aria-controls="AddAddress"
            class="button--primary add_address_btn"
          >
            {{ 'customer.addresses.add_new' | t }}
          </button>
          <div id="AddAddress">
            <h2 class="h4" id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>
            {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
              <div class="field">
                <input
                  type="text"
                  id="AddressFirstNameNew"
                  name="address[first_name]"
                  value="{{ form.first_name }}"
                  autocomplete="given-name"
                  placeholder="{{ 'customer.addresses.first_name' | t }}"
                >
                <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressLastNameNew"
                  name="address[last_name]"
                  value="{{ form.last_name }}"
                  autocomplete="family-name"
                  placeholder="{{ 'customer.addresses.last_name' | t }}"
                >
                <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressCompanyNew"
                  name="address[company]"
                  value="{{ form.company }}"
                  autocomplete="organization"
                  placeholder="{{ 'customer.addresses.company' | t }}"
                >
                <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressAddress1New"
                  name="address[address1]"
                  value="{{ form.address1 }}"
                  autocomplete="address-line1"
                  placeholder="{{ 'customer.addresses.address1' | t }}"
                >
                <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressAddress2New"
                  name="address[address2]"
                  value="{{ form.address2 }}"
                  autocomplete="address-line2"
                  placeholder="{{ 'customer.addresses.address2' | t }}"
                >
                <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressCityNew"
                  name="address[city]"
                  value="{{ form.city }}"
                  autocomplete="address-level2"
                  placeholder="{{ 'customer.addresses.city' | t }}"
                >
                <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
              </div>
              <div class="select-option-field">
                <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                <div class="select">
                  <select
                    id="AddressCountryNew"
                    name="address[country]"
                    data-default="{{ form.country }}"
                    autocomplete="country"
                  >
                    {{ all_country_option_tags }}
                  </select>
                  {% render 'theme-icons', icon: 'icon-chevron-down' %}
                </div>
              </div>
              <div class="select-option-field" id="AddressProvinceContainerNew" style="display: none">
                <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                <div class="select">
                  <select
                    id="AddressProvinceNew"
                    name="address[province]"
                    data-default="{{ form.province }}"
                    autocomplete="address-level1"
                  ></select>
                  {% render 'theme-icons', icon: 'icon-chevron-down' %}
                </div>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressZipNew"
                  name="address[zip]"
                  value="{{ form.zip }}"
                  autocapitalize="characters"
                  autocomplete="postal-code"
                  placeholder="{{ 'customer.addresses.zip' | t }}"
                >
                <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="tel"
                  id="AddressPhoneNew"
                  name="address[phone]"
                  value="{{ form.phone }}"
                  autocomplete="tel"
                  placeholder="{{ 'customer.addresses.phone' | t }}"
                >
                <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
              </div>
              <div class="default_address_bottom">
                <div class="check_box_left">
                  <input type="checkbox" class="custom-checkbox" id="address_default_address_new" name="address[default]" value="1">
                  <span class="checkbox-styling">
                    {% render 'theme-icons', icon: 'check' %}
                  </span>
                  <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                </div>
                <div class="right_btn_bottom">
                  <button class="button--primary">{{ 'customer.addresses.add' | t }}</button>
                  <button class="button button--secondary" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                </div>
              </div>
            {%- endform -%}
          </div>
        </div>
        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
            <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
              <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                        {{- part.title -}}
                      </a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </nav>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endpaginate -%}

<script>
  window.addEventListener('load', () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  });

  function addressbox(e){
    var clickedButton = event.target;
    var closestParent = clickedButton.closest('li');
    closestParent.classList.add('open_edit_box');
  }

  function cencelbox(e){
    var clickedButton = event.target;
    var closestParent = clickedButton.closest('li');
    closestParent.classList.remove('open_edit_box');
  }
</script>

{% schema %}
{
  "name": "t:sections.main-addresses.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.content",
      "info": "t:sections.all.section_spacing.info"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.section_spacing.above",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.section_spacing.below",
      "default": 100
    }
  ]
}
{% endschema %}
