{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'collection-additional.css' | asset_url | stylesheet_tag }}
{% if section.settings.infinite_scroll %}
  <script src="{{ 'infinite-scroll.js' | asset_url }}" defer="defer"></script>
{% endif %}
{%- if section.settings.enable_quick_add or section.settings.enable_sorting-%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
{{ 'component-facets.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{% endif %}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }

  @media screen and (min-width: 990px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign sort_by = collection.sort_by | default: collection.default_sort_by
  if collection.url
    assign results_url = collection.url
  else
    assign terms = collection.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
  assign activeFilter = false
  for filter in collection.filters
    if filter.active_values.size > 0
      assign activeFilter = true
    else if filter.type == 'price_range'
      if filter.min_value.value != null or filter.max_value.value != null
        assign activeFilter = true
      endif
    endif
  endfor
-%}
<div class="section-{{ section.id }}-padding">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
      <facet-filters-form class="facets facets-vertical-sort page-width no-js-hidden facet-filters-form__header{% if collection.all_products_count == 0 %} hidden{% endif %}">
        <form class="facets-vertical-form" id="FacetSortForm">
          <button type="button" class="facet--button-toggle button--primary" aria-label="filter-button-toggle">
            {% if section.settings.enable_filtering %}
              {% render 'theme-icons', icon: 'icon-filter-toggle' %}
              <span>{{ 'products.facets.filter_button' | t }}</span>
            {% endif %}
          </button>
          {%- if section.settings.enable_sorting %}
            <div class="facet-filters sorting caption">
              <div class="facet-filters__field">
                <p class="facet-filters__label bold small-hide">
                  <label class="h6" for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
                </p>
                <div class="filter--select select_options">
                  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                  <select name="sort_by" class="option--select" id="SortBy" aria-describedby="a11y-refresh-page-message" aria-label="collection-sort-by">
                    {%- for option in collection.sort_options -%}
                      <option
                        value="{{ option.value | escape }}"
                        {% if option.value == sort_by %}
                          selected="selected"
                        {% endif %}
                      >
                        {{ option.name | escape }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'theme-icons', icon: 'icon-chevron-down' %}
                </div>
              </div>
              <noscript>
                <button type="submit" class="facets__button-no-js button button--secondary">
                  {{ 'products.facets.sort_button' | t }}
                </button>
              </noscript>
            </div>
          {% endif %}
        </form>

        
        <div class="active-facets active-facets-desktop{% unless activeFilter %} hidden{% endunless %}">
          
          {%- for filter in collection.filters -%}
            {%- for value in filter.active_values -%}
              
              
              <facet-remove>
                <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                  <span class="active-facets__button-inner btn">
                    {% render 'theme-icons', icon: 'filter-close' %}
                    {{ value.label | escape }}
                    <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                  </span>
                </a>
              </facet-remove>
            {%- endfor -%}
            {% if filter.type == 'price_range' %}
              {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                <facet-remove>
                  <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                    <span class="active-facets__button-inner btn">
                      {% render 'theme-icons', icon: 'filter-close' %}
                      {%- if filter.min_value.value -%}
                        {{ filter.min_value.value | money }}
                      {%- else -%}
                        {{ 0 | money }}
                      {%- endif -%}
                      -
                      {%- if filter.max_value.value -%}
                        {{ filter.max_value.value | money }}
                      {%- else -%}
                        {{ filter.range_max | money }}
                      {%- endif -%}
                      <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                    </span>
                  </a>
                </facet-remove>
              {%- endif -%}
            {% endif %}
          {%- endfor -%}
          <facet-remove class="active-facets__button-wrapper">
            <a href="{{ results_url }}" class="active-facets__button-remove link--underline bold">
              <span>{{ 'products.facets.clear_all' | t }}</span>
            </a>
          </facet-remove>
        </div>
      </facet-filters-form>
    {% endif %}
    <div class="facets-vertical page-width">
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <aside
          aria-labelledby="verticalTitle"
          class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %} {% if collection.products.size == 0 %} hide_side_filter{% endif %}{% if collection.all_products_count == 0 %} hidden{% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          {% render 'facets',
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            filter_type: 'vertical',
            color_swatch: section.settings.color_filter,
            paginate: paginate
          %}
        </aside>
      {%- endif -%}

      <div
        class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        id="ProductGridContainer"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center sp-small">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t }}
              </h2>
              <p>{{ 'sections.collection_template.content' | t -}}</p>
              <a href="{{ shop.url }}" class="button">
                {{ 'templates.404.buttonText' | t }}
              </a>
            </div>
          </div>
        {%- else -%}
          {% if section.settings.infinite_scroll %}
            <infinite-scroll data-container="#product-grid" data-page=".pagination" data-next-page=".pagination__item--next">
          {% endif %}
          <div class="collection">
            <div class="loading-overlay gradient"></div>
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              class="
                grid marquee-scrolling__option product-grid grid--{{ section.settings.products_per_row_mobile }}-col-tablet-down
                grid--{{ section.settings.products_per_row }}-col-desktop
              "
              data-scrolling="true"
            >
              {%- for product in collection.products -%}
                
                {% if section.blocks.size > 0 %}
                  {% assign checkProductIndex = forloop.index %}
                  {% for block in section.blocks %}
                    {% if checkProductIndex == block.settings.block_position %}
                      {%- liquid
                        assign ratio = 1
                        if block.settings.image_ratio == 'portrait'
                          assign ratio = 0.8
                        elsif block.settings.image_ratio == 'original'
                          assign ratio = block.settings.image.aspect_ratio
                        elsif block.settings.image_ratio == 'normal'
                          assign ratio = 1.5
                        endif
                        if ratio == 0 or ratio == null
                          assign ratio = 1
                        endif
                      -%}
                      <li
                        class="grid__item grid-collection-image__block{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} image-block__{{ block.settings.image_width }}"
                        {% if settings.animations_reveal_on_scroll %}
                          data-cascade
                          style="--animation-order: {{ checkProductIndex }};"
                        {% endif %}
                        {{ block.shopify_attributes }}
                      >
                        <div class="collection-image-block">
                          <div class="collection-image-block__media media" style="padding-bottom: {{ 1 | divided_by: ratio | times: 100 }}%;">
                            {% if block.settings.image != blank %}
                              {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                              {%- capture sizes -%}
                                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                              {%- endcapture -%}
                              {{
                                block.settings.image
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                              }}
                            {% else %}
                              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                            {% endif %}
                            {% if block.settings.button_link != blank and block.settings.button_label == blank %}
                               <a href="{{ block.settings.button_link }}"
                                  class="collection-image-block__overlay-link"
                                  aria-label="collection-image-block-link"
                                  {{ block.shopify_attributes }}
                                >
                                  <span class="hidden">{{ block.settings.button_label | escape }}</span>
                                </a>
                            {% endif %}
                          </div>
                          {%- if block.settings.subheading != blank or block.settings.heading != blank or block.settings.button_label != blank -%}
                            <div class="collection-image-block__content overflow-scrollbar vertical-position__{{ block.settings.vertical_alignment }} horizontal-position__{{ block.settings.horizontal_alignment }}">
                              <div class="image-block-content__inner sp-small color-{{ block.settings.color_scheme }}">
                                {%- if block.settings.subheading != blank -%}
                                  <div class="subheading__text rte">
                                    <p>{{ block.settings.subheading }}</p>
                                  </div>
                                {%- endif -%}
                                <h3
                                  class="image-with-text__heading inline-richtext">
                                  {{ block.settings.heading }}
                                </h3>
                                {%- if block.settings.button_label != blank -%}
                                  <div class="image-block__buttons">
                                    <a
                                      {% if block.settings.button_link == blank %}
                                        role="link" aria-disabled="true"
                                      {% else %}
                                        href="{{ block.settings.button_link }}"
                                      {% endif %}
                                      class="button button--primary"
                                      {{ block.shopify_attributes }}
                                    >
                                      {{ block.settings.button_label | escape }}
                                    </a>
                                  </div>
                                {%- endif -%}
                              </div>
                            </div>
                          {% endif %}
                        </div>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li
                  class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_shape: 'default',
                    horizontal_quick_add: false,
                    grid_text_alignment: section.settings.grid_text_alignment,
                    grid_color_scheme: section.settings.grid_color_scheme,
                    grid_style: section.settings.grid_style,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    show_quick_add: section.settings.enable_quick_add,
                    show_color_swatches: section.settings.show_color_swatches,
                    azy_load: lazy_load,
                    section_id: section.id
                  %}
                </li>
              {%- endfor -%}
            </ul>
            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '', infinite_scroll: section.settings.infinite_scroll %}
            {%- endif -%}
          </div>
          {% if section.settings.infinite_scroll %}
            </infinite-scroll>
          {% endif %}
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 1,
      "default": 15,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.main-collection-product-grid.settings.products_per_row.label"
    },
    {
      "type": "checkbox",
      "id": "infinite_scroll",
      "label": "t:sections.main-collection-product-grid.settings.infinite_scroll.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header.content"
    },
    {
      "type": "color_scheme",
      "id": "grid_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "select",
      "id": "grid_style",
      "options": [
        {
          "value": "simple",
          "label": "t:sections.main-collection-product-grid.settings.grid_style.options__1.label"
        },
        {
          "value": "classic",
          "label": "t:sections.main-collection-product-grid.settings.grid_style.options__2.label"
        }
      ],
      "default": "simple",
      "label": "t:sections.main-collection-product-grid.settings.grid_style.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "original",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "checkbox",
      "id": "show_color_swatches",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_color_swatches.label"
    },
    {
      "type": "select",
      "id": "grid_text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-collection-product-grid.settings.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.main-collection-product-grid.settings.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-collection-product-grid.settings.text_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.main-collection-product-grid.settings.text_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "color_filter",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.color_swaches_filter.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "products_per_row_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.products_per_row_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.products_per_row_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.products_per_row_mobile.options__2.label"
        }
      ]
    },
       {
      "type": "header",
      "content": "t:sections.all.section_spacing.content",
      "info": "t:sections.all.section_spacing.info"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.section_spacing.above",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.section_spacing.below",
      "default": 100
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "name": "t:sections.main-collection-product-grid.blocks.name",
      "type": "image_block",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "range",
          "id": "block_position",
          "min": 1,
          "max": 24,
          "step": 1,
          "default": 5,
          "label": "t:sections.main-collection-product-grid.blocks.settings.before_product.label",
          "info": "t:sections.main-collection-product-grid.blocks.settings.before_product.info"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.main-collection-product-grid.blocks.settings.image.label"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.main-collection-product-grid.blocks.settings.image_ratio.options__1.label"
            },
            {
              "value": "original",
              "label": "t:sections.main-collection-product-grid.blocks.settings.image_ratio.options__2.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.main-collection-product-grid.blocks.settings.image_ratio.options__3.label"
            },
            {
              "value": "square",
              "label": "t:sections.main-collection-product-grid.blocks.settings.image_ratio.options__4.label"
            }
          ],
          "default": "normal",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
        },
        {
          "type": "select",
          "id": "image_width",
          "label": "t:sections.main-collection-product-grid.blocks.settings.image_width.label",
          "default": "medium",
          "options": [
            {
              "label": "t:sections.main-collection-product-grid.blocks.settings.image_width.options__1.label",
              "value": "extra_small"
            },
            {
              "label": "t:sections.main-collection-product-grid.blocks.settings.image_width.options__2.label",
              "value": "small"
            },
            {
              "label": "t:sections.main-collection-product-grid.blocks.settings.image_width.options__3.label",
              "value": "medium"
            },
            {
              "label": "t:sections.main-collection-product-grid.blocks.settings.image_width.options__4.label",
              "value": "large"
            },
            {
              "label": "t:sections.main-collection-product-grid.blocks.settings.image_width.options__5.label",
              "value": "full_width"
            }
          ]
        },
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "t:sections.main-collection-product-grid.blocks.settings.subheading.label",
          "default": "t:sections.main-collection-product-grid.blocks.settings.subheading.default"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.all.heading.label",
          "default": "t:sections.main-collection-product-grid.blocks.settings.heading.default"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.main-collection-product-grid.blocks.settings.button_label.label",
          "default": "t:sections.main-collection-product-grid.blocks.settings.button_label.default"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.main-collection-product-grid.blocks.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "vertical_alignment",
          "label": "t:sections.main-collection-product-grid.blocks.settings.content_position.label",
          "default": "bottom",
          "options": [
            {
              "label": "t:sections.main-collection-product-grid.blocks.settings.content_position.options__1.label",
              "value": "top"
            },
            {
              "value": "middle",
              "label": "t:sections.main-collection-product-grid.blocks.settings.content_position.options__2.label"
            },
            {
              "label": "t:sections.main-collection-product-grid.blocks.settings.content_position.options__3.label",
              "value": "bottom"
            }
          ]
        },
        {
          "type": "select",
          "id": "horizontal_alignment",
          "label": "t:sections.main-collection-product-grid.blocks.settings.content_alignment.label",
          "default": "left",
          "options": [
            {
              "label": "t:sections.main-collection-product-grid.blocks.settings.content_alignment.options__1.label",
              "value": "left"
            },
            {
              "label": "t:sections.main-collection-product-grid.blocks.settings.content_alignment.options__2.label",
              "value": "center"
            },
            {
              "label": "t:sections.main-collection-product-grid.blocks.settings.content_alignment.options__3.label",
              "value": "right"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
