{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }
  @media screen and (min-width: 990px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width section-{{ section.id }}-padding">
    {%- unless section.settings.title == blank -%}
      <div class="section-heading__bar sp-small mgb-medium text-{{ section.settings.heading_alignment }}">
        <h1 class="title {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h1>
      </div>
      {%- endunless -%}
    {%- liquid
      case section.settings.sort
        when 'products_high', 'products_low'
          assign collections = collections | sort: 'all_products_count'
        when 'date', 'date_reversed'
          assign collections = collections | sort: 'published_at'
      endcase
  
      if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
        assign collections = collections | reverse
      endif
  
      assign paginate_by = section.settings.collections_per_page
    -%}
    {%- paginate collections by paginate_by -%}
      <ul
        class="collection-list grid grid--{{ section.settings.collections_per_row }}-col-desktop grid--{{ section.settings.collections_per_row_mobile }}-col-tablet-down"
        role="list"
      >
        {%- liquid
            assign columns = section.settings.collections_per_row
            if section.settings.collections_per_row > 3
              assign columns = 3
            endif
          -%}
        {%- for collection in collections -%}
          <li
            class="collection-list__item grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
            {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
            {% render 'card-collection',
                card_collection: collection,
                product_count: section.settings.show_product_count,
                grid_style: section.settings.style,
                media_aspect_ratio: section.settings.image_ratio,
                custom_ratio: section.settings.custom_ratio,
                image_width: section.settings.image_width,
                title_size: section.settings.title_size,
                text_alignment: section.settings.grid_alignment,
                columns: columns,
                placeholder_image: placeholder_image
              %}
          </li>
        {%- endfor -%}
      </ul>
      {% render 'pagination', paginate: paginate %}
    {%- endpaginate -%}
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.main-list-collections.settings.title.default",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.heading_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.layout.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "collections_per_page",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 6,
      "label": "t:sections.main-list-collections.settings.collections_per_page.label"
    },
    {
      "type": "range",
      "id": "collections_per_row",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "t:sections.main-list-collections.settings.collections_per_row.label"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-list-collections.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "style",
      "options": [
        {
          "value": "simple",
          "label": "t:sections.main-list-collections.settings.style.options__1.label"
        },
        {
          "value": "classic",
          "label": "t:sections.main-list-collections.settings.style.options__2.label"
        }
      ],
      "default": "simple",
      "label": "t:sections.main-list-collections.settings.style.label"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main-list-collections.settings.image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-list-collections.settings.image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-list-collections.settings.image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-list-collections.settings.image_width.label",
      "info": "t:sections.main-list-collections.settings.image_width.info"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "original",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__4.label"
        }
      ],
      "default": "original",
      "label": "t:sections.main-list-collections.settings.image_ratio.label",
      "info": "t:sections.main-list-collections.settings.image_ratio.info"
    },
    {
      "type": "range",
      "id": "custom_ratio",
      "min": 1,
      "max": 3,
      "step": 0.1,
      "default": 1,
      "label": "t:sections.main-list-collections.settings.custom_ratio.label",
      "info": "t:sections.main-list-collections.settings.custom_ratio.info"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h6",
      "label": "t:sections.all.heading_size.title_size.label"
    },
    {
      "type": "select",
      "id": "grid_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-list-collections.settings.alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.main-list-collections.settings.alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-list-collections.settings.alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.main-list-collections.settings.alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_product_count",
      "default": true,
      "label": "t:sections.main-list-collections.settings.product_count.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-list-collections.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "collections_per_row_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-list-collections.settings.collections_per_row_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-list-collections.settings.collections_per_row_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.main-list-collections.settings.collections_per_row_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.content",
      "info": "t:sections.all.section_spacing.info"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.section_spacing.above",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.section_spacing.below",
      "default": 100
    }
  ]
}
{% endschema %}
