{{ 'product_hotsite.css' | asset_url | stylesheet_tag }}


<div class="product-hotsite-banners-bg" style="background-image: url({{ section.settings.hotsite_banner_image_bg | image_url: width: section.settings.hotsite_banner_image_bg.width }}); background-position: 0 0; background-repeat: no-repeat; background-size: 100%">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'product_hotsite_banner' %}
          <div class="page-width">
            <div class="product-hotsite">
                {% if block.type == 'product_hotsite_banner' %}
                    <div class="product-hotsite-banner">
                        <div class="product-hotsite-banner__image desktop-only">
                            {{ block.settings.hotsite_banner_image | image_url: width: "1216" | image_tag }}
                        </div>
                        <div class="product-hotsite-banner__image mobile-only">
                            {{ block.settings.hotsite_banner_image_mb | image_url: width: "960" | image_tag }}
                        </div>
                    </div>
                {%- endif -%}
              </div>
      </div>
      
    {% endcase %}
    
  {% endfor %}
</div>


<div style="background-image: url({{ section.settings.hotsite_banner_image_bg_charac2 | image_url: width: section.settings.hotsite_banner_image_bg_charac2.width }}); background-position: 0 bottom; background-repeat: no-repeat; background-size: 100%; padding-bottom: 18rem;">
<div class="product-hotsite-banners-bg charac" style="background-image: url({{ section.settings.hotsite_banner_image_bg_charac | image_url: width: section.settings.hotsite_banner_image_bg_charac.width }}); background-position: 0 0; background-repeat: no-repeat; background-size: 100%; margin-top: 7rem">
            <div class="product-hotsite">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'banner_charac' %}
          <div class="page-width" style="">
            <div class="product-hotsite">
                {% if block.type == 'banner_charac' %}
                    <div class="product-hotsite-banner">
                        <div class="product-hotsite-banner__image desktop-only">
                            {{ block.settings.hotsite_banner_image_charac | image_url: width: "1216" | image_tag }}
                        </div>
                        <div class="product-hotsite-banner__image mobile-only">
                            {{ block.settings.hotsite_banner_image_charac_mb | image_url: width: "960" | image_tag }}
                        </div>
                    </div>
                {%- endif -%}
              </div>
          </div>
      
    {% endcase %}
    
  {% endfor %}
  </div>
</div>



{% schema %}
{
  "name": "Product Hotsite Banners",
  "tag": "section",
  "class": "product-hotsite",
  "settings": [
    {
      "type": "image_picker",
      "id": "hotsite_banner_image_bg",
      "label": "Background nos banners"
    },
    {
      "type": "image_picker",
      "id": "hotsite_banner_image_bg_charac",
      "label": "Background nos banners de características - Topo"
    },
    {
      "type": "image_picker",
      "id": "hotsite_banner_image_bg_charac2",
      "label": "Background nos banners de características - Base"
    }
  ],
  "blocks": [
    {
      "type": "product_hotsite_banner",
      "name": "Banner do Hotsites",
      "settings": [
        {
          "type": "image_picker",
          "id": "hotsite_banner_image",
          "label": "Banner Desktop"
        },
        {
          "type": "image_picker",
          "id": "hotsite_banner_image_mb",
          "label": "Banner Mobile"
        }
      ]
    },
    {
      "type": "banner_charac",
      "name": "Carac. do Hotsite",
      "settings": [
        {
          "type": "image_picker",
          "id": "hotsite_banner_image_charac",
          "label": "Banner Desktop"
        },
        {
          "type": "image_picker",
          "id": "hotsite_banner_image_charac_mb",
          "label": "Banner Mobile"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Hotsite Banners"
    }
  ]
}
{% endschema %}