{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }

  @media screen and (min-width: 990px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient no-js-hidden">
  <product-recommendations
    id="related-products-{{ section.id }}"
    class="related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}"
  >
    {% liquid
      assign products_per_row_mobile_int = section.settings.products_per_row_mobile | plus: 0
      assign show_mobile_slider = false
      if section.settings.swipe_on_mobile and recommendations.products_count > products_per_row_mobile_int
        assign show_mobile_slider = true
      endif
      assign show_desktop_slider = false
      if section.settings.enable_slider_scrollbar and recommendations.products_count > section.settings.products_per_row
        assign show_desktop_slider = true
      endif
    %}
    
    {% if recommendations.performed and recommendations.products_count > 0 %}
      {%- unless section.settings.title == blank -%}
        <div class="section-heading__bar sp-small mgb-medium text-{{ section.settings.heading_alignment }}">
          <h2 class="title {{ section.settings.heading_size }}">
            {{ section.settings.title }}
          </h2>
      </div>
      {%- endunless -%}
      <slider-component class="slider-mobile-gutter{% if show_desktop_slider %} slider-component-desktop{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} marquee-scrolling__option" data-scrolling="true">
        <ul id="Slider-{{ section.id }}"
          class="grid product-grid grid--{{ section.settings.products_per_row }}-col-desktop grid--3-col-tablet grid--{{ section.settings.products_per_row_mobile }}-col-tablet-down{% if show_desktop_slider and show_mobile_slider %} slider slider--everywhere slider--scrollbar{% elsif show_desktop_slider %} slider slider-desktop slider--scrollbar-desktop{% elsif show_mobile_slider %} slider slider--tablet slider-scrollbar-mobile{% endif %} product-list-{{ recommendations.products_count }}-items"
          role="list"
        >
          {% for recommendation in recommendations.products %}
            <li class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              {% render 'card-product',
                card_product: recommendation,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: 'default',
                horizontal_quick_add: false,
                grid_text_alignment: section.settings.grid_text_alignment,
                grid_color_scheme: section.settings.grid_color_scheme,
                grid_style: section.settings.grid_style,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                show_quick_add: section.settings.enable_quick_add,
                section_id: section.id,
                show_color_swatches: section.settings.show_color_swatches,
              %}
            </li>
          {% endfor %}
        </ul>
      </slider-component>
      <custom-scrollbar data-target-id="Slider-{{ section.id }}" class="{% if show_desktop_slider == false and show_mobile_slider == false %}hidden{% elsif show_desktop_slider == false %}large-up-hide{% elsif show_mobile_slider == false %}small-hide{% endif %}{% if recommendations.products_count < 4 %} medium-hide{% endif %}"></custom-scrollbar>
    {% endif %}
  </product-recommendations>
</div>

{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.related-products.settings.paragraph__1.content"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.all.heading.label",
      "default": "t:sections.related-products.settings.heading.default"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.heading_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.layout.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.products_per_row.label"
    },
    {
      "type": "checkbox",
      "id": "enable_slider_scrollbar",
      "label": "t:sections.related-products.settings.slider_scrollbar.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header__2.content"
    },
    {
      "type": "color_scheme",
      "id": "grid_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "grid_style",
      "options": [
        {
          "value": "simple",
          "label": "t:sections.related-products.settings.grid_style.options__1.label"
        },
        {
          "value": "classic",
          "label": "t:sections.related-products.settings.grid_style.options__2.label"
        }
      ],
      "default": "classic",
      "label": "t:sections.related-products.settings.grid_style.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "original",
          "label": "t:sections.related-products.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.related-products.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.related-products.settings.image_ratio.options__3.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.related-products.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.related-products.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.related-products.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": true,
      "label": "t:sections.related-products.settings.show_rating.label",
      "info": "t:sections.related-products.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": true,
      "label": "t:sections.related-products.settings.enable_quick_buy.label"
    },
    {
      "type": "checkbox",
      "id": "show_color_swatches",
      "default": true,
      "label": "t:sections.related-products.settings.show_color_swatches.label"
    },
    {
      "type": "select",
      "id": "grid_text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.related-products.settings.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.related-products.settings.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.related-products.settings.text_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.related-products.settings.text_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "products_per_row_mobile",
      "default": "1",
      "label": "t:sections.related-products.settings.products_per_row_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.related-products.settings.products_per_row_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.related-products.settings.products_per_row_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "t:sections.related-products.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.content",
      "info": "t:sections.all.section_spacing.info"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.section_spacing.above",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.section_spacing.below",
      "default": 100
    }
  ]
}
{% endschema %}
