{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}
{% for block in section.blocks %}
  {% if block.type == 'heading' and block.settings.autoslide != blank %}
    <script src="{{ 'auto-slide-text.js' | asset_url }}" defer="defer"></script>
  {% endif %}
{% endfor %}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }
  @media screen and (min-width: 990px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.expanded_width %} page-width{% endunless %}">
  <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.expanded_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--center{% if section.settings.expanded_width %} page-width{% endif %}">
      <div class="rich-text__blocks text-center">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              {% if block.settings.subheading != blank %}
                <span class="subheading rte"><p>{{ block.settings.subheading }}</p></span>
              {% endif %}
              <h2 class="rich-text__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.heading }}
                {% if block.settings.autoslide != blank %}
                  <auto-slide-text class="auto-slide-text">
                    <div class="auto-slide-text-inner">
                      {% liquid
                        assign slideText = block.settings.autoslide | newline_to_br | split: "<br />"
                      %}
                      {% for slide in slideText %}
                        <span{% if forloop.first %} class="active"{% endif %}>{{- slide -}}</span>
                      {% endfor %}
                    </div>
                  </auto-slide-text> 
                {% endif %}
              </h2>
            {%- when 'caption' -%}
              <p
                class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}
              <div
                class="rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'button' -%}
              <div
                class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button button--{{ block.settings.button_style_primary }} animate--button"
                  >
                    {{- block.settings.button_label | escape -}}
                    {% if block.settings.button_suggestions != blank %}
                      <span class="animate-suggestions">{{ block.settings.button_suggestions }}{% render 'theme-icons', icon: 'animate-arrow' %}</span>
                    {% endif %}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button button--{{ block.settings.button_style_secondary }} animate--button"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                    {% if block.settings.button_suggestions_2 != blank %}
                      <span class="animate-suggestions">{{ block.settings.button_suggestions_2 }}{% render 'theme-icons', icon: 'animate-arrow' %}</span>
                    {% endif %}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "expanded_width",
      "label": "t:sections.all.layout.expanded_width.label",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_spacing.content",
      "info": "t:sections.all.section_spacing.info"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.section_spacing.above",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.section_spacing.below",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "t:sections.rich-text.blocks.heading.settings.subheading.label",
          "default":"t:sections.rich-text.blocks.heading.settings.subheading.default"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.rich-text.blocks.heading.settings.heading.default",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h0",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "textarea",
          "id": "autoslide",
          "label": "t:sections.rich-text.blocks.heading.settings.auto_change.label",
          "info": "t:sections.rich-text.blocks.heading.settings.auto_change.info",
          "default":"t:sections.rich-text.blocks.heading.settings.auto_change.default"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default":"t:sections.rich-text.blocks.text.settings.text.default",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.rich-text.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label"
        },
        {
          "type": "text",
          "id": "button_suggestions",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_suggestions_1.label",
          "default": "t:sections.rich-text.blocks.buttons.settings.button_suggestions_1.default"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "select",
          "id": "button_style_primary",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button_style.options__2.label"
            },
            {
              "value": "outline",
              "label": "t:sections.all.button_style.options__3.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "t:sections.rich-text.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label"
        },
        {
          "type": "text",
          "id": "button_suggestions_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_suggestions_2.label"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "select",
          "id": "button_style_secondary",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button_style.options__2.label"
            },
            {
              "value": "outline",
              "label": "t:sections.all.button_style.options__3.label"
            }
          ],
          "default": "outline",
          "label": "t:sections.rich-text.blocks.buttons.settings.secondary_button_style.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
